/* .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
/* .col {
  border: 2px solid;
  width: 100%;
} */
/* .text,
.img,
.init,
.result {
  height: 80px;
} */
